body {
  margin: 0;
  background-color: deeppink;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  /* padding: 15px; */
  background: #6c9748;
}

header {
  background: #f0d62d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.header-content {
  padding: 10px;
  background: #8e7c0a;
}

.random-content {
  display: flex;
  justify-content: space-between;
  background: #61dafb;
}

.genre-container {
  font-size: 20px;
  background: rgb(4, 4, 212);
  color: white;
  border: 3px solid salmon;
  height: 220px;
  width: 540px;
}

.genre-container .title {
  font-size: 30px;
}

.genre-lists {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.genre {
  display: flex;
}

.choice-container {
  background: rgb(79, 79, 132);
  color: white;
  border: 3px solid salmon;
  height: 500px;
  width: 560px;
}

.footer-content {
  background: #f0d62d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
}

/* .watch-container {
  background: rgb(79, 79, 132);
  color: white;
  border: 3px solid salmon;
  height: 200px;
  width: 250px;
}

.watch-list-container,
.watched-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  margin: 20px;
  background: rgb(158, 54, 84);
} */