.App {
  text-align: center;
  background: #6c9748;
}

header {
  background: #f0d62d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

.header-content {
  padding: 10px;
  background: #8e7c0a;
}

.random-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background: #61dafb;
}

.genre-container {
  background: rgb(4, 4, 212);
  color: white;
  border: 3px solid salmon;
  height: 300px;
  width: 260px;
}

.choice-container {
  background: rgb(79, 79, 132);
  color: white;
  border: 3px solid salmon;
  height: 300px;
  width: 360px;
}